<plist version="1.0">
<dict>

<key>angle_down</key>
<string>&#xf13c;</string>
<key>angle_right</key>
<string>&#xf15f;</string>
<key>apple</key>
<string>&#xf101;</string>
<key>arrow_left</key>
<string>&#xf115;</string>
<key>at</key>
<string>&#xf133;</string>
<key>auth</key>
<string>&#xf154;</string>
<key>behance</key>
<string>&#xf102;</string>
<key>bitbucket</key>
<string>&#xf103;</string>
<key>calendar</key>
<string>&#xf13d;</string>
<key>delete</key>
<string>&#xf13e;</string>
<key>digg</key>
<string>&#xf104;</string>
<key>done</key>
<string>&#xf13f;</string>
<key>douban</key>
<string>&#xf116;</string>
<key>dribbble</key>
<string>&#xf105;</string>
<key>dropbox</key>
<string>&#xf131;</string>
<key>edit</key>
<string>&#xf12b;</string>
<key>evernote</key>
<string>&#xf155;</string>
<key>external_link</key>
<string>&#xf140;</string>
<key>facebook</key>
<string>&#xf106;</string>
<key>female</key>
<string>&#xf141;</string>
<key>file_audio</key>
<string>&#xf158;</string>
<key>file_code</key>
<string>&#xf159;</string>
<key>file_file</key>
<string>&#xf15e;</string>
<key>file_image</key>
<string>&#xf15a;</string>
<key>file_pdf</key>
<string>&#xf15b;</string>
<key>file_text</key>
<string>&#xf15c;</string>
<key>file_video</key>
<string>&#xf15d;</string>
<key>filter</key>
<string>&#xf142;</string>
<key>github</key>
<string>&#xf143;</string>
<key>google</key>
<string>&#xf107;</string>
<key>google_drive</key>
<string>&#xf108;</string>
<key>google_plus</key>
<string>&#xf109;</string>
<key>heart</key>
<string>&#xf12d;</string>
<key>home</key>
<string>&#xf144;</string>
<key>like</key>
<string>&#xf145;</string>
<key>linkedin</key>
<string>&#xf100;</string>
<key>male</key>
<string>&#xf146;</string>
<key>map</key>
<string>&#xf147;</string>
<key>menu</key>
<string>&#xf148;</string>
<key>more</key>
<string>&#xf130;</string>
<key>outlook</key>
<string>&#xf149;</string>
<key>paw</key>
<string>&#xf10a;</string>
<key>phone</key>
<string>&#xf12e;</string>
<key>plus</key>
<string>&#xf12c;</string>
<key>pocket</key>
<string>&#xf156;</string>
<key>qq</key>
<string>&#xf10b;</string>
<key>qrcode</key>
<string>&#xf153;</string>
<key>reddit</key>
<string>&#xf10c;</string>
<key>refresh</key>
<string>&#xf12a;</string>
<key>remove</key>
<string>&#xf14a;</string>
<key>renren</key>
<string>&#xf10d;</string>
<key>reply</key>
<string>&#xf12f;</string>
<key>return</key>
<string>&#xf14b;</string>
<key>retweet</key>
<string>&#xf138;</string>
<key>rss</key>
<string>&#xf14c;</string>
<key>search</key>
<string>&#xf119;</string>
<key>settings</key>
<string>&#xf129;</string>
<key>share</key>
<string>&#xf14d;</string>
<key>stack_exchange</key>
<string>&#xf14e;</string>
<key>stack_overflow</key>
<string>&#xf10e;</string>
<key>tag</key>
<string>&#xf14f;</string>
<key>tencentweibo</key>
<string>&#xf150;</string>
<key>thumb_up</key>
<string>&#xf139;</string>
<key>todo</key>
<string>&#xf151;</string>
<key>toggle_off</key>
<string>&#xf134;</string>
<key>toggle_on</key>
<string>&#xf135;</string>
<key>twitter</key>
<string>&#xf110;</string>
<key>wechat</key>
<string>&#xf111;</string>
<key>weibo</key>
<string>&#xf112;</string>
<key>weixin</key>
<string>&#xf132;</string>
<key>windows</key>
<string>&#xf113;</string>
<key>xiaomi</key>
<string>&#xf117;</string>
<key>yahoo</key>
<string>&#xf152;</string>
<key>youtube_play</key>
<string>&#xf114;</string>
</dict>
</plist>