$font-path: '/fonts' !default;

@font-face {
  font-family: "hypericons";
  src: url("#{$font-path}/hypericons.eot");
  src: url("#{$font-path}/hypericons.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}/hypericons.woff") format("woff"),
       url("#{$font-path}/hypericons.ttf") format("truetype"),
       url("#{$font-path}/hypericons.svg#hypericons") format("svg");
      font-weight: normal;
      font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "hypericons";
    src: url("#{$font-path}/hypericons.svg#hypericons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon:before {
<%= glyph_properties %>
}

.icon.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

<% @glyphs.each do |name, value|
        selector = @options[:css_selector].sub('{{glyph}}', name.to_s) %>
.icon<%= selector %>:before { content: "\<%= value[:codepoint].to_s(16) %>"; }<% end %>


// icon variables
<% @glyphs.each do |name, value|
        selector = @options[:css_selector].sub('{{glyph}}', name.to_s) %>
$hi-icon-<%= selector[1..-1] %>: "\<%= value[:codepoint].to_s(16) %>";<% end %>

